<div class="footer border-top mt-3 pt-3 pb-3">
    <div class="icons">
        <a class="icon" href="https://www.instagram.com/airbnb/"><i class="fa-brands fa-square-instagram"></i></a>
        <a class="icon" href="https://x.com/airbnb?lang=en"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a class="icon" href="http://www.linkedin.com/in/vasutyagi270303"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="copyright">&copy;StayLink Private Limited</div>
    <div class="contact pp">
        <span><b>email:</b>staylink@gmail.com</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Contact Us:</b><span>036-88267866</span>
    </div>
    <div class="address">
        <b>Head Office:</b> Plot No. A-12, Tower 2, IT Park, Sector 62, Noida, Uttar Pradesh, 201309.
    </div>
    <div class="address">
        <b>Branch Office:</b> 5th Floor, Skyline Tower, MG Road, Bengaluru, Karnataka, 560001.
    </div>
    <div class="policy">
        <a class="pp" href="#">Privacy</a>
        <a class="pp" href="#">Policy</a>
    </div>
</div>