<% layout('/layouts/boilerplate') %>
<body>
    <div class="alert alert-danger d-flex align-items-center col col-6 offset-3 mt-5 justify-content-center" role="alert">
        <div >
            <h3 class="text-center"> <%= err.message %> </h3>
            
        </div>
    </div>
</body>