body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

/* nav info */
.navbar{
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9fA !important;
}

.fa-staylinked{
    color:#fe424d;
    font-size: 2.5rem;
}
.brandLogo{
    text-decoration: none !important;
}
.staylinked{
    color: rgb(254, 66, 77);
    font-weight: 800;
    font-size: 1.45rem;
    text-decoration: none;
}

.nav-link{
    font-size: 0.9rem !important;
    color: black !important;
}
.navbar-collapse{
    background-color: #F8F9fA !important;

}
.navbar-toggler{
    border: none;
    
}

.search-option{
    padding:0rem 1rem ;  
    border: 2px solid black;
    height: 3.5rem;
    align-content: center;
    border-radius: 2rem;
    display: inline-block;
}
.search-btn{
    color: white !important;
    background-color: #fe424d !important;
    width: 9rem !important;
    height: 2.5rem !important;
    border-radius: 2rem !important;
    opacity: 0.8;
    margin-left: auto;
}
.search-btn:hover{
    opacity: 1;
}
.search-bar{
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none;
    background-color: #F8F9fA !important;
}



.upper-part{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100%;

}

.search-option2 {
    position: absolute;
    width: 18rem; 
    height: 3rem;    
    display: none;
    right: 2px;
    top:4px;
  }
  


.filters{
        display: flex;
        align-items: center;
        flex-wrap: nowrap; 
        gap: 4px;
        overflow-x: auto;
        white-space: nowrap;
      
}
.filter{
    text-align: center;
    margin-right:1.2rem;
    opacity: 0.7;
    cursor: pointer;
    font-size: small;
}
.filter:hover{
    opacity: 1;
}
.filter-title
{
    font-size: small;
}

.tax-info{
    display: none;
}
.tax-toggle{
    font-size: 1rem;
    border: 0.5px solid rgb(211, 211, 211);
    border-radius: 0.75rem;
    padding: 0.75rem 0.4rem;
    margin-left:auto
}

/* footer info */
.icon , .pp{
    text-decoration:none;
    color:black;
    opacity: 0.7;
    margin-right: 1rem;
}
.icon:hover , .pp:hover{
    opacity: 1;
}

.footer{
    flex-direction:column;
    align-items: center;
    text-align: center; 
    background-color: rgb(211, 211, 211);   
}

/* common heading */
.common-heading{
    color: #fe424d;
    font-weight: 700;
}

.showcard{
    margin:0.5rem 0rem;
}

/* card */
.listingcard{
    border: none !important;
    margin-bottom: 2rem;
}
.showcard{
    text-decoration: none !important;
}
.card-img-top{
    width: 100%;
    border-radius: 1rem !important;
}
.card-img-top:hover{
    opacity: 0.8;
}
.card-body{
    padding: 0 !important;
}

/* new place info */
.mybtn{
    background-color: #fe424d !important;
    color: black !important;
    border: none !important;
    width: 25vw;
    opacity:0.8 !important;
    font-weight: 800 !important;
}
.deletebtn{
    background-color: black !important;
    color: white !important;
}
.mybtn:hover{
    opacity: 1 !important;
}

/* show info */
.showhead{
    color: #fe424d;
    text-align: center;
    font-weight: 800;
}
.showbtn{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* review */
.review-del-btn{
    font-weight: 800 !important;
}
.review-card{
    width: 200px;
}
.starability-result-written{
    display: none;
  }

/* scrollbar */

/*1- for container */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    border-radius:10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #f4a2a7; 
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #fc727c;
    cursor: pointer;
}


/* 2- for filters */
  .filters::-webkit-scrollbar {
    height: 8px;
  }
  .filters::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    border-radius: 10px;
  }
  .filters::-webkit-scrollbar-thumb {
    background-color: #f4a2a7; 
    border-radius: 10px; 
  }
  .filters::-webkit-scrollbar-thumb:hover {
    background-color: #fc727c;
    cursor: pointer;
  }


  /* 3- for textarea */
  textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-track {
    background-color: #F0F0F0;
    border-radius:10px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #f4a2a7; 
    border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #fc727c;
    cursor: pointer;
}


/* Responsiveness */

/* show page image */
@media (max-width: 992px) {
    .show-page-img{
        width: 450px;
        height:auto;
        max-width: 100%;
    }
}
/* nav bar */
@media (max-width: 940px) {
    .search-btn{
        width: auto !important;
    }
    .search-btn span {
        display: none;
    }
    .search-btn i {
        font-size: 1.5rem;
    }
}

@media (max-width: 550px) {
    .search-option2 {
      width: 15rem;
    }  
    
  }
  @media (max-width: 480px) {
    .search-option2 {
        width: 12rem;
    }  
    
  }
  @media (max-width: 425px) {
    .search-option2 {
        display: none !important;
    }  
    
  }
  /* toggler , price , review stars */
@media (max-width: 250px) {
    .filters, .tax-toggle,.filter-line {
        display: none;
    }
    .content .price {
        display: none;
    }
    .starability-result {
        display: none;
    }
    .starability-result-written{
        display: inline-block;
    }
}

/* search bar and review*/
@media (max-width: 768px) {
    .search-option {
        display: none;
      }
    .search-option2 {
      display: inline;
    }      

    .starability-result    
     {
      position: relative;
      transform: scale(0.8); 
      width: 2rem; 
      height: 1rem;
    }
  }
  

/* image size and show page btns*/
@media (max-width: 550px) {
    .card-img-top {
        width: auto;
        height:auto;
        max-width: 100%;  
    }
    
    .review-del-btn span , .back-btn span , .del-listing-btn span , .edit-listing-btn span , .addreview-btn span{
        display: none;
        
    }
    .review-del-btn , .back-btn , .del-listing-btn , .edit-listing-btn , .addreview-btn{
        width: auto;
        align-items: center;
    }
}

  



 

