<% layout('/layouts/boilerplate') %>

<body>
    <div class="col col-8 offset-2">
        <h2 class="newPlaceHeading mt-3 mb-3 common-heading">Add Details</h2>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input  name="listing[title]" type="text" class="form-control" id="title" placeholder="Enter the Title" required>
            <div class="invalid-feedback">
                Please provide a valid Title.
            </div>
            <div class="valid-feedback">
                Valid
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" id="description" rows="1" cols="100" placeholder="Enter the Description" required></textarea>
            <div class="invalid-feedback">
                Please provide a valid Description.
            </div>  
            <div class="valid-feedback">
                Valid
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control" id="image" required>
            <div class="invalid-feedback">
                Please provide a valid Image.
            </div>
            <div class="valid-feedback">
                Valid
            </div>
        </div>

        <div class="row mb-3">
        <div class="col-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" type="number" class="form-control" id="price" placeholder="Enter the Price" min="0" required>
            <div class="invalid-feedback">
                Please provide a valid Price.
            </div>
            <div class="valid-feedback">
                Valid
            </div>
        </div>
        <div class="col-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" class="form-control" id="location" placeholder="Enter the Location" required>
            <div class="invalid-feedback">
                Please provide a valid Location.
            </div>
            <div class="valid-feedback">
                Valid
            </div>
        </div>
        </div>

        <div class="mb-4">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" class="form-control" id="country" placeholder="Enter the Country" required>
            <div class="invalid-feedback">
                Please provide a valid Country.
            </div>
            <div class="valid-feedback">
                Valid
            </div>
        </div> 

        <button class="btn btn-dark addbtn">Add Place</button>
    </form>
</div>
</body>
